.album-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card.h-100 {
    display: flex;
    flex-direction: column;
}

.card .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-footer {
    background: transparent;
    border-top: 0;
}

.track-link {
    text-decoration: none;
}

.track-link:hover {
    text-decoration: underline;
}